POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_PORT=db_port
API_PORT=db_port
WEB_PORT=web_port
SESSION_COOKIE_SECURE=false
SESSION_DURATION_DAYS=7
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=